body{ 
    font-family: Arial, Helvetica, sans-serif;/*fonte da página toda*/
    background-color: silver; /*cor do fundo da página*/
    color: black; /*cor da fonte*/
}
header{
    background-color: red;
    color: whitesmoke;
    padding: 25px;
}
main{
    background-color: whitesmoke;
    padding: auto;
    color: black;
}
a{
    color: white;
    padding: 25px /*espaço entre as margens*/
}